html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
