<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bamboo -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mddoai.metamodel.bambooMM.presentation.BambooModelWizardID"
            name="%_UI_BambooModelWizard_label"
            class="com.mddoai.metamodel.bambooMM.presentation.BambooModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BambooModelFile.gif">
         <description>%_UI_BambooModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bamboo -->
      <editor
            id="com.mddoai.metamodel.bambooMM.presentation.BambooEditorID"
            name="%_UI_BambooEditor_label"
            icon="icons/full/obj16/BambooModelFile.gif"
            extensions="bamboo"
            class="com.mddoai.metamodel.bambooMM.presentation.BambooEditor"
            contributorClass="com.mddoai.metamodel.bambooMM.presentation.BambooActionBarContributor">
      </editor>
   </extension>

</plugin>
